*{
  margin: 0;
  padding: 0;
}
.now {
  text-align: center;
} 
.chessboard {
  position: relative;
  width: 640px;
  height: 640px;
  margin: 20px auto;
}
.background {
  position: absolute;
  z-index: -1;
}
dl {
  width: 600px;
  padding-left: 20px;
  padding-top: 20px;
}
dt {
  height: 40px;
}
dd {
  display: inline-block;
  float: left;
  width: 38px;
  height: 38px;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}
dd.w {
  border-color: #333;
  background-color: #fff;
}
dd.b {
  border-color: #333;
  background-color: #333;
}