body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #333;
  margin: 0;
  background: #f5f5f5;
}

h1,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

.cantainer {

}
.title {     
  text-align: center;
}
.search-div {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  display: flex;
  padding: 0 5px;
}
.input-keyword {
  display: inline-block;
  flex: 1;
  margin-left: 5px;
  margin-right: 10px;
  height: 38px;
  padding: 0 10px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.input-search {
  vertical-align: -2px;
  display: inline-block;
  width: 68px;
  height: 40px;
  padding: 0 15px;
  border: none;
  background: #00a1d6;
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.search-text {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}
input {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  outline: none;
  color: #333;
}
input[type=text] {
  border: 1px solid #aaa;
}
input[type=text]:focus {
  border: 1px solid #00a1d6;
}

.info {
  padding: 5px 0;
  background: #fff;
  box-shadow: 0px 0px 4px 0 #bbb;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
}

.info-ul {
  list-style: none;
  padding: 0;
  margin: 8px 5px;
  display: flex;
}
.info-item {
  text-align: center;
  display:inline-block;
  height: 30px;
  margin-right: 3px;
  line-height: 30px;
  padding: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  background: #f5f5f5;
}
.info-title {
  background: #ffafc9;
  color: #fff;
  display:inline-block;
  height: 30px;
  margin-right: 3px;
  line-height: 30px;
  padding: 0 8px;
  border-radius: 4px;   
}

.info-active {
  background-color: #00a1d6;
  color: #fff;
}

.moreLoading {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
@keyframes rotate {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}

.i-loading-more:before{
  display: inline-block;
  width: 36px;
  height: 47px;
  position: absolute;
  text-align: center;
  font-size: 36px;
  animation: rotate 0.8s linear infinite;
  left: 50%;
  margin-left: -18px;
}

.i-loading:before{
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  text-align: center;
  font-size: 48px;
  animation: rotate 0.8s linear infinite;
  left: 50%;
  margin-left: -24px;
}
.i-noResult:before {
  font-size: 25px;
  vertical-align: -3px;
}
.i-noMore:before {
  vertical-align: -1px;
}