.anime {
  line-height: 1.5;
}

.anime-i-back, .anime-i-random {
  position: absolute;
  top: 15px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 6px;
}
.anime-i-back:hover,.anime-i-random:hover {
  background-color: #eee;
}
.anime-i-back {
  left: 10px;
  background: url('/img/animes/back.png')
}
.anime-i-random {
  right: 10px;
  background: url('/img/animes/random.png')
}
h1, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
.anime-title {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}
.anime-allTitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 10px;
}
.anime-top {
  display: flex;
  justify-content: space-around;
}
.anime-img-div {
  position: relative;
  width: 150px;
  height: 230px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.anime-img-div img {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anime-info {
  padding: 0 15px;
}
.anime-rating {
  position: relative;
  width: 150px;
  height: 230px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.anime-rating-value {
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  color: #E800A4;
}
.anime-rating-count {
  text-align: center;
  margin-top: -15px;
  color: #888;
}
.anime-rating-start {
  position: absolute;
  width: 24px;
  background: #888;
  height: 200px;
  top: 200px;
}
.anime-rating-info {
  position: absolute;
  top: 210px;
  font-size: 12px;
}
.anime-rating-percent {
  font-size: 12px;
  width: 48px;
  position: absolute;
  text-align: center;
  color: #888ï¼›
}
.anime-item-title {
  background-color: #f5f5f5;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #00a1d6;
}
.anime-summary {
  text-indent: 2em;
  padding-left: 15px;
  padding-right: 15px;
}
.anime-comments {
  padding-left: 15px;
  padding-right: 15px;
}
.anime-review {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
.anime-review-title {
  text-align: center;
  font-size: 16px;
}
.anime-review-html {
  text-indent: 2em;
  margin: 20px 0;
}
.anime-404 {
  padding: 20px;
  text-align: center
}
