.anime {
  line-height: 1.5;
  background: #fff
}

.anime-i-back, .anime-i-random {
  position: absolute;
  top: 15px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 6px;
}
.anime-i-back {
  left: 10px;
  background: url('/img/animes/back.png')
}
.anime-i-random {
  right: 10px;
  background: url('/img/animes/random.png')
}
h1, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
.anime-title {
  position: relative;
  padding: 10px 10px 0;
  text-align: center;
  font-size: 20px;
}
.anime-allTitle {
  padding: 0 10px;
  text-align: center;
  color: #aaa;
  margin-bottom: 10px;
}
.anime-top {
  display: flex;
  justify-content: space-around;
}
.anime-img-div {
  position: relative;
  width: 150px;
  height: 230px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.anime-img-div img {
  border-radius: 4px;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anime-info {
  padding: 0 15px;
}
.anime-rating {
  position: relative;
  width: 150px;
  height: 230px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.anime-rating-value {
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  color: #E800A4;
}
.anime-rating-count {
  text-align: center;
  margin-top: -15px;
  color: #888;
}
.anime-rating-start {
  position: absolute;
  width: 24px;
  background: #888;
  height: 200px;
  top: 200px;
}
.anime-rating-info {
  position: absolute;
  top: 210px;
  font-size: 12px;
}
.anime-rating-percent {
  font-size: 12px;
  width: 48px;
  position: absolute;
  text-align: center;
  color: #888；
}
.anime-item-title {
  text-align: center;
  margin-top: 20px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #00a1d6;
}
.anime-summary {
  text-indent: 2em;
  padding-left: 15px;
  padding-right: 15px;
}
.anime-comments {
  padding-left: 15px;
  padding-right: 15px;
}
.anime-review {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
.anime-review-title {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}
.anime-review-content {

}
.anime-review-html {
  margin: 20px 0;
}

.anime-review-more {
  text-align:center;
  height:30px;
  background:#f5f5f5;
  border-radius: 4px;
  margin-bottom: 10px;
}
.anime-404 {
  padding: 20px;
  text-align: center
}

@keyframes up-down {
  0%{
    vertical-align: 0%;
    opacity: 0.5;
  }
  100%{
    vertical-align: -30%;
    opacity: 0.1;
  }
}

.i-up-down:before {
  animation: up-down 3s linear infinite;
}

.i-left:before {
  font-size: 20px;
  float: left;
  vertical-align: 2%;
  color: #888;
  margin-right: 10px;
}

.i-random:before {
  font-size: 20px;
  float: right;
  vertical-align: 2%;
  color: #888;
  margin-left: 10px;
}