#index>p {
  padding-left: 20px;
  line-height: 40px;
}
.index-account {
  font-size: 32px;
  margin-right: 10px;
  font-weight: bold;
}
.index-uid {
  font-size: 14px;
  color: #888;
}
.index-position {
  font-size: 14px;
  color: #fff;
  padding: 0 5px;
  margin-left: 5px;
  background: #888;
  border-radius: 5px;
}
.index-sign-span {
  margin-left: 2px;
  cursor: pointer;
}
.index-sign-span:hover {
  color: #00a1d6;
}
.index-sign-input {
  display: none;
  width: 400px;
}
.index-btn {
  display: inline-block;
  height: 40px;
  vertical-align: 30%;
  float: right;
  line-height: 40px;
  padding: 0px 62px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  transition: all .3s;
}
.index-btn:hover {
  color: #777;
  background-color: #f5f5f5;
}
.index-first-right {
  display: inline-block;
  vertical-align: top;
}

.index-face {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  margin: 0 10px;
  cursor: pointer;
}