#login {
  margin: 0 auto;
  width: 980px;
  color: #222;
}
.login-head {
  margin: 30px 0;
  font-size: 24px;
  text-align: center;
  color: #00a1d6;
}
.login-body {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #ccc;
  padding: 20px 40px;
  border-radius: 4px;
}
.login-line {
  width: 100%;
  margin: 30px 0;
  position: relative;
}
.login-line-tip {
  position: absolute;
  top: 35px;
  left: 100px;
}
.login-line-tip.error {
  color: #f45d90;
}
.login-line-tip.success {
  color: #00a1d6;
}
.login-small {
  margin-bottom: -10px;
  margin-left: 40px;
}
.login-small label {
  cursor: pointer;
  vertical-align: 10%;
  padding-left: 4px;
  margin-right: 30px;
}
.login-small label:hover {
  color: #00a1d6;
}
.login-small label.error {
  color: #f45d90;
}
.login-small label.success {
  color: #00a1d6;
}
.login-catcha {
  display: inline-block;
  margin-top: -8px;
  margin-left: 20px;
  position: absolute;
}
.password-strength {
  position: absolute;
  left: 63px;
  top: 2px;
  width: 221px;
  height: 14px;
  border: 1px solid #ccc;
  text-align: center;
  color: #fff;
  line-height: 14px;
}
.password-strength-1 {
  position: absolute;
  width: 73px;
  height: 14px;
  background: #f45d90;
}
.password-strength-2 {
  position: absolute;
  width: 146px;
  height: 14px;
  background: #FFC125;
}
.password-strength-3 {
  position: absolute;
  width: 221px;
  height: 14px;
  background: #00a1d6;
}
.login-line label {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-size: 20px;
  padding-right: 20px;
}
.login-line input {
  display: inline-block;
  width: 280px;
  font-size: 16px;
  padding-left: 2px;
  border: 1px solid #aaa;
}
.login-line input:focus {
  outline-color: rgba(0,0,0,.3);
}
.login-line input.error {
  border-color: #f45d90;
}
.login-line input.success {
  border-color: #00a1d6;
}
.login-btn {
  display: inline-block;
  height: 40px;
  margin-left: 35px;
  line-height: 40px;
  padding: 0px 55px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  transition: all .3s;
}
.login-submit {
  background-color: #00a1d6;
  border-color: #00a1d6;
  color: #fff;
}
.login-submit:hover {
  background-color: #29AAD4;
  border-color: #29AAD4;
}
.login-other {
  color: #888;
}
.login-other:hover {
  color: #777;
  background-color: #f5f5f5;
}