#record {
  width: 100%;
}
#record td {
  border: #ccc solid 1px;
  padding: 3px;
  white-space: pre-line;
  text-align: center;
  height: 40px;
}
.record-a {
  color:#2D95B7
}
.record-a:hover {
  text-decoration: underline;
}